/* work sans font import  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

/* universal css  */
* {
  margin: 0;
  padding: 0;
  font-family: work sans;
}

/* shared style  */
:root {
  --primary-color: #ff42a5;
}
.main-con {
  padding: 0px 200px;
}
/* nav section start from here  */
.nav-con {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-logo > img {
  width: 70px;
  height: 30px;
}
.nav-logo > h2 {
  color: #0b0223;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.nav-logo > h2 > span {
  color: var(--primary-color);
}
.nav-left-con > ul {
  display: flex;
  gap: 32px;
}
.nav-item {
  list-style: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 22px;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

/* banner section start from here  */
.banner-con {
  display: flex;
  gap: 150px;
  align-items: center;
}
.banner-left-con {
  padding: 110px 0px;
}
.banner-left-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-left-subtitle {
  font-family: Work Sans;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-left-pera {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px;
}
.banner-btn,
.banner-btn1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  padding: 21px 40px;
  background-color: var(--primary-color);
  border: 0;
  margin-top: 40px;
}
.banner-btn1 {
  background-color: #4ec5f7;
}
.banner-right > img {
  width: 480px;
}

/* responsive for mobile devices  */
@media screen and (max-width: 576px) {
  /* header section start  */
  .main-con {
    padding: 0px;
  }
  .nav-con,
  .nav-left-con > ul,
  .banner-con {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 0px;
  }
  .banner-con {
    flex-direction: column-reverse;
  }
  .banner-left-con,
  .banner-right {
    padding: 10px 0px;
  }
}

/* responsive for tablet devices  */

@media screen and (min-width: 576px) and (max-width: 960px) {
  /* header section  */
  .main-con {
    padding: 0px;
    margin: auto;
    justify-content: center;
  }
  .banner-con {
    gap: 0px;
  }
  .banner-left-title {
    font-size: 30px;
  }
  .banner-left-subtitle {
    font-size: 60px;
  }
  .banner-left-pera {
    font-size: 14px;
  }
  .banner-right > img {
    width: 280px;
  }
}
